@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.back{
  background-color: #FDE758;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#columna{
  display: flex;
  flex-direction: column;
}

#título{
  font-family: Montserrat;
  font-style: semibold;
  font-size: 24px;
  line-height: 29px;
  color: #4B9CD6;
  text-align: center;
  margin-bottom: 17.5px;
}

#botónFacebook{
  background-color: #FFFFFF;
  width: 219px;
  height: 66px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}


#botónTwitter{
  background-color: #FFFFFF;
  width: 219px;
  height: 66px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  align-items: center;
}

#botónCorreo{
  background-color: #FFFFFF;
  width: 219px;
  height: 66px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17.5px;
  align-items: center;
}

.backgroundRetoDetalle{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#BlanquitoRetoDetalle{
  background-color: #FFFFFF;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction:column;
}

#LetritasRetoDetalle{
  font-family: Montserrat;
  font-style: Light;
  text-align: center;
  font-size: 12px;
  color: #0077C0;
  width: 70%;
  height: 15%;
  margin-top: 50px;
  margin-left: 56px;
  margin-right: 40.33px;
  margin-bottom: 72.97px;


}
#RojitoRetoDetalle{
  background-color: #F1626C;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content:center;
  align-items: center;
}

#Letritas3RetoDetalle{
  font-family: Montserrat;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
}

#moneditas{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

.backgroundRol{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#TopBlanquitoRol{
  background-color: #FFFFFF;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction:row-reverse;
  justify-content:flex-end;

}

#Letritas1Rol{
  font-family: Montserrat;
  font-style: Light;
  text-align: left;
  font-size: 12px;
  color: #858585;
  width: 317px;
  height: 23px;
  margin-top: 52px;
  margin-left: 21px;
  margin-right: 37px;
  margin-bottom: 572px;
}

#BlanquitoRol{
  background-color: #FFFFFF;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content:flex-end;
}

#Letritas2Rol{
  font-family: Montserrat;
  font-style: Light;
  text-align: left;
  font-size: 36px;
  color: #858585;
  width: 276px;
  height: 218px;
  margin-top: 52px;
  margin-left: 23px;
  margin-right: 76px;
  margin-bottom: 302px;
}

#RojitoRol{
  background-color: #F1626C;
  width: 100%;
  height: 45%;
}

#Letritas3Rol{
  font-family: Montserrat;
  font-style: Light;
  text-align: right;
  font-size: 36px;
  color: #FFFFFF;
  width: 233px;
  height: 218px;
  margin-top: 84px;
  margin-left: 113px;
  margin-right: 29px;
}
